<div  class="container"
     fxLayout="row"
     fxLayoutAlign.gt-md="space-around center"
     fxLayout.xs="column"
     fxLayoutGap="10px"
     >
  <app-plot-seqrun-bases></app-plot-seqrun-bases>
  <app-plot-seqrun-count></app-plot-seqrun-count>
</div>
<div  class="container"
     fxLayout="row"
     fxLayoutAlign.gt-md="space-around center"
     fxLayout.xs="column"
     fxLayoutGap="10px"
     >
  <app-plot-storage-info></app-plot-storage-info>
  <app-plot-singlecell-hist></app-plot-singlecell-hist>
</div>
